# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Jenkins
jenkins_home/
jenkins.log

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
*.tmp
*.temp